.header{
    background-color: #000;
    color: #fff;
    text-align: center;
}
.jumbotron-back{
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-top: 0px;
    background-image: url('D:/NetSolutions/Bootstrap/assets/imgs/carousal-3.jpg');
}
.jumbotron-section{
    text-align: center;
    background-image: url('D:/NetSolutions/Bootstrap/assets/imgs/carousal-8.jpg');
    background-size: cover;
    padding: 10px;
    color: #000;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0;
}
.img-zoom{
    overflow: hidden;
}
.img-zoom img{
    transition: all 1.5s ease ;
}
.img-zoom:hover img{
    transform: scale(1.5);
}
.big-banner-bottom {
    position: relative;
    text-align: center;
    color: white;
}
.img-content{
    background-color: cadetblue;
    position: absolute;
    right: 5%;
    max-width: 40%;
}
.media-style{
    background-color:  rgba(107,92,92,0.3);
    border-radius: 30px;
    padding: 10px;
}
.card-header{
    background-image: url("D:/NetSolutions/Bootstrap/assets/imgs/carousal-7.png");
    padding: 0;
}
.card-accordion{
    border: none;
    border-radius: 40px;
}
.accordion-title:hover{
    opacity: 0.5;
}
.dropdown-hover:hover{
    background-color: tomato;
}
.fontuser { 
    position: relative; 
} 
.fontuser i{ 
    position: absolute; 
    left: 15px; 
    top: 40px; 
    color: rgb(14, 10, 10); 
} 

.form-control, 
.custom-select{
    background-color: rgba(0,0,0,0.3);
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.form-control:hover{
    background-color: rgba(26,21,21,0.6)
}
.custom-select:hover{
    background-color: rgba(26,21,21,0.6);
    cursor: pointer;
}
.character-img {
    display: block;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition:  0.5s ease;
    background-color:  rgba(24,19,19,0);
}
  .img-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color:  red;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    text-align: center;
  }